{% extends 'todoapp/base.html' %}

{% block content %}
<div class="registration-form">
    <div class="register-text">
        <div class="to-doapp-by">
            TO DOAPP by GIMMEVSC
        </div>
        <div class="register-desc">
            <div class="get-start">
                Get Started Now!
            </div>
            <div class="create-account">
                Create your account here
            </div>
        </div>
    </div>
    <div class="inputs">
        <form action="" class="email-form" method="post" novalidate>
            {% csrf_token %}
            <div class="input-container">
                {% comment %} <label class="wrapper" for="email">Email Address</label> {% endcomment %}
                <input type="email" class="input{% if errors.email %} input-error{% endif %}" id="email" name="email" required placeholder="Email address" value="{{ request.POST.email }}">
                {% if errors.email %}
                    <div class="error">{{ errors.email }}</div>
                {% endif %}
            </div>
            <div class="input-container">
                {% comment %} <label class="wrapper" for="name">Your name</label> {% endcomment %}
                <input type="text" class="input{% if errors.username %} input-error{% endif %}" id="name" name="name" required placeholder="Your name" value="{{ request.POST.name }}">
                {% if errors.username %}
                    <div class="error">{{ errors.username }}</div>
                {% endif %}
            </div>
            <div class="input-container">
                {% comment %} <label class="wrapper" for="password">Password</label> {% endcomment %}
                <input type="password" class="input{% if errors.password %} input-error{% endif %}" id="password" name="password" required placeholder="Password">
                {% if errors.password %}
                    <div class="error">{{ errors.password }}</div>
                {% endif %}
            </div>
            <button class="register-button" type="submit">
                <div class="register-text">
                    Register
                </div>
            </button>
        </form>
    </div>
    <div class="buttons">
        <div class="have-an-account">
            Have an account?
        </div>
        <div class="link">
            <a href="{% url 'login' %}" class="login-button">
                <div class="log-in">Log in</div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
